/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* Full Page*/

body {
	font-family: 'Open sans', sans-serif;
	background-color: #f0efef;
	font-size: 24px;
	font-weight: normal;
	margin: 0 auto;
	line-height: 1.5
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

/* Header */

header {
	background-color: #033048;
	background-size: cover;
	padding: 20px 140px 20px 100px;
}

.logo {
	color: white;
	margin: 0;
	width: 30%;
	float: left;
	font-size: 48px;
	font-weight: 800;
}

.navigator {
	width: 70%;
	padding-top: 20px;
	float: right;
	text-align: right;
}

.navigator li {
	display: inline-block;
	padding: 0 0 0 40px;
}

.navigator a {
	color: #f9e42e;
}

/* Main */

.container {
	margin: 0 auto;
	padding: 80px 100px;
}

/* Block */

.blockGroup {
	width: 700px;
	float: left;
	margin: 0;
}

.block {
	border-bottom: 1px solid #121212;
	padding-bottom: 80px;
	margin-bottom: 40px;
}

.block h1 {
	line-height: 1.2;
}

.block h1 a {
	font-size: 40px;
	font-weight: 600;
	color: #033048;
}

.block img {
	padding: 40px 0 36px 0;
}

.block p {
	color: #606161;
}

.block p:first-letter {
	font-size: 3.2em;
	font-weight: 600;
	line-height: 1;
	margin: 0 .1em 0 .1em;
	float: left;
}

.block p a {
	color: #033048;
	font-weight: 600;
	float: right;
}

.readMore {
	margin-top: 30px;
}

/* Aside */
.asideGroup {
	width: 240px;
	float: left;
	padding-left: 24px;
	margin: 0;
}

.asideBlock h1 {
	font-size: 32px;
}

/* Bottom */

.membership {
	clear: left;
}

.bottom {

}





