/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.placeholder{
	height: 200px;
	padding: 20px;
	border: 1px solid black;
	background: rgba(255,255,255,0.7);
	margin: 10px;
}

.pageHeader {
	width: 100%;
	float: left;
	background: red;
}

.main {
	width: 60%;
	float: left;
	border: ;
	background: yellow;
}

.sideBar {
	width: 40%;
	float: left;
	border: ;
	background: green;
}

.pageFooter {
	width: 100%;
	float: left;
	border: ;
	background: blue;
}

