
/*Full Page Styling*/

* {
	box-sizing: border-box;
}

body {
	color: #444;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.container {
	width: 1200px;
	margin: 0 auto;
	clear: left;
}

a {
	color: #D00;
	text-decoration: none;
	-webkit-transition: all 300ms;
}

a:hover {
	color: #A00;
}

img {
	max-width: 100%;
}

hr {
	width: 100%;
	float: left;
	margin: 30px auto;
	clear: left;
	background-color: #999999;
}

/*Header Styling*/

.heading {
	margin: 0;
	padding: 30px 0 0 40px;
}

.logo {
	display: inline;
	width: 22%;
	float: left;
	font-weight: 300;
	font-size: 48px;
	color: #D00;
	margin: 0;
	padding: 0;
}

.tagLine {
	display: inline;
	width: 78%;
	float: left;
	font-weight: 300;
	font-size: 28px;
	color: #999999;
	margin: 0;
	padding-top: 22px;
}

/*Nav styling*/

nav {
	text-align: center;
	padding: 0 40px 120px 0;
}

.headerLinks {
	clear: left;
}

.headerLinks li {
	display: inline-block;
	float: left;
	width: 16.66%;
}

.headerLinks a {
	color: white;
	display: block;
	border-right: 1px solid white;
	background: black;
	padding: 15px;
}

.headerLinks a:hover {
	background: #900;
}


/*Articles Content Styling*/

.articles {
	width: 70%;
	float: left;
	padding-left: 40px;
}

article h1 {
	font-weight: 300;
	margin: 5px 0 10px 0;
}

article h1 a {
	color: black;
	padding-top: 0;
}

.articles p a {
	float: right;
	padding: 20px 5px 10px 0;
	font-weight: 700;
	opacity: 0.7;
}

.articles p:first-letter{
	float: left;
	font-size: 6em;
	color: #999999;
	line-height: 1;
	margin: -.1em .1em 0 -.1em;
}

.date {
	font-size: 36px;
	line-height: 1;
	clear: left;
	margin: 0;
	color: #999999;
}

/*Asides Content Styling*/

.asides {
	width: 30%;
	float: left;
	padding: 2px 40px;
}

.asides h1 {
	font-weight: 700;
	font-size: 16px;
	padding: 40px 0 0 0;
	color: #666666;
}

.asides p {
	font-size: 16px;
	color: #999999;
}

.asides p a {
	float: right;
	padding: 10px 10px 10px 0;
	font-weight: 700;
	opacity: 0.7;
}

.ad {
	text-align: center;
}

.popularPosts {
	color: #666666;
}


/*Footer Styling*/

footer {
}

.footerLinks nav {
	padding: 0;
}

.footerLinks ul {
	text-align: left;
	padding: 20px 0 30px 40px;
}

.footerLinks li {
	display: inline-block;
	line-height: 1;
	padding: 0;
	margin: 0
}

.footerLinks li:after {
	content: ' | ';
	color: #999999;
}

.footerLinks li:last-child:after {
	content: '';
}

.copyright {
	padding: 0 0 50px 40px;
}

