html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: georgia, serif;
	color: #888;
	line-height: 1.5;
	margin: 4em;
}

p {
	margin: 1.4em 0;
}

em, h1 {
	color: black;
}

blockquote {
	border-left: 5px solid #eee;
	padding: 0 0 0 0.7em;
	margin: 0;
}

blockquote p {
	font-style: italic;
}

blockquote p em {
	font-style: normal;
}