/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 80px;
	margin-bottom: 100px;
}

h1 {
	font-family: sans-serif;
	text-indent: 20px;
}

.placeholder{
	padding: 20px;
	border: 1px solid black;
	background: gray;
	margin: 20px;
}

.pageHeader {
	width: 30%;
	float: left;
}

.pageHeader .placeholder {
	height: 200px;
}

.pageNav {
	width: 70%;
	float: left;
	padding-top: 80px;
	padding-left: 50px;
}

.pageNav .placeholder {
	width: 15%;
	float: right;
	margin: 8px;
	height: 50px;
}

.left {
	width: 20%;
	float: left;
	clear: left;
}

.left .placeholder {
	height: 1000px;
}

.main {
	width: 80%;
	float: left;
}

.main .placeholder {
	height: 340px;
}

.middle1 {
	width: 60%;
	float: left;
}

.middle1 .placeholder {
	height: 340px
}

.middle2 {
	width: 20%;
	float: left;
}

.middle2 .placeholder {
	height: 340px;
}

.sideBar1 {
	width: 20%;
	float: left;
}

.sideBar1 .placeholder {
	height: 240px;
}

.sideBar2 {
	width: 20%;
	float: left;
}

.sideBar2 .placeholder {
	height: 240px;
}

.sideBar3 {
	width: 20%;
	float: left;
}

.sideBar3 .placeholder {
	height: 240px;
}

.sideBar4 {
	width: 20%;
	float: left;
}

.sideBar4 .placeholder {
	height: 240px;
}

.pageFooter {
	width: 100%;
	float: left;
}

.pageFooter .placeholder {
	height: 200px;
}