body {
  color: #05080C;
  background-color: #F0F8FF;
  padding: 2cm;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  font-family: Helvetica;
  line-height: 1.6;
  font-size: 18px;
}

hr {
  height: 2px;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #222222;
  padding: 5px;
  text-align: center;
}

img[alt] {
  float: right;
}

.commonstyles a {

}

.commonstyles small {
}

.commonstyles strong {

}

.commonstyles h1 {
  font-family: arial;
}

.commonstyles h2 {
  font-family: arial;
  margin-top: 42px;
  font-weight: bold;
}

.commonstyles h3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}

.commonstyles h4 {
  margin-bottom: 0;
}

.commonstyles p {
  font-family: georgia;
  margin-top: 0;
  margin-bottom: 27px;
  text-align: justify;
}

.commonstyles ul {
  list-style: circle;
}

.commonstyles ul p {

}

.commonstyles li {

}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles .seeAlso {
  text-indent: 30px;
  font-size: 16px;
  line-height: 10px;
}

.toc {
  max-width: 300px;
  float:right;
  margin: 0 0 20px 20px;
  line-height: 22px;
  border: 3px solid gray;
  padding-right: 8px;
  background: #F0F0F0;
}

.toc h2 {
  text-indent: 20px;
}

.toc .toclevel-1 {
  font-size: 16px;
  color: black;
}

.toc .toclevel-1 > a {
  font-size: 16px;
  color: blue;
  font-weight: bold;
}

.toc .toclevel-2 {
  font-size: 14px;
  color: #404040;
}

.toc .toclevel-2 > a {
  font-size: 14px;
  color: #404040;
}

.table1 .datatable td:first-child {
  font-weight: bold;
}

.datatable a {
  color: black;
}

.datatable .tableHead {
  line-height: 3em;
  font-size: 24px;
}

.datatable th {
  font-size: 20px;
}

.datatable td {
  padding: 8px 18px;
}

.datatable cite {
  font-size: 16px;
  font: normal;
}


.datatable td:first-child{
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.commonstyles > a {

  text-transform: uppercase;

}



